<!DOCTYPE html>
<html>
  <head>
    <title>DiagnoGuide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <div id="center">

      <div id="heads" style="display:none">
        <h2 id="form1Heading">Patient</h2>
        <h2 id="form2Heading">Symptoms</h2>
        <h2 id="form3Heading">Disease</h2>
        <h2 id="form4Heading">Medication</h2>
      </div>

      <div class="upper-section">
        
        <div id="form">
          <form id="myForm" name="myform" value="myform" > 
            <div id="form0Container">
              <div id="open0"><h2>WELCOME </h2></div>
            
              <div id="open1">Before using our application, please read carefully and accept our
                Terms and Services:
              </div>
              <div id="open2">
                
                <ul>
                <li><b>Non-Diagnostic Nature</b>: <span>Informational checkup only, not a medical diagnosis. Seek professional advice for personalized guidance.</span></li>

                <li><b>Not a Qualified Medical Opinion</b>: <span>It is essential to note that the checkup results do not replace a qualified medical opinion from a healthcare professional.</span></li>

                <li><b>Anonymous Information</b>: <span>User information remains anonymous, and no data is stored on our servers.</span></li>

                <li><b>Secondary Option</b>: <span>Consider it as supplementary; consult a healthcare professional for thorough evaluation.</span></li>

                <li><b>Acknowledging Associated Risks</b>: <span>Understand the potential risks and use the checkup with caution in medical decision-making.</span></li>
                </ul>
              </div>
              <div id="open3">
                <label style="font-family: 'Ubuntu', sans-serif;font-weight:bolder;">I hereby agree to the Terms and Conditions</label>
                <input type="checkbox" id="t-c" required />
              </div>
            </div>

            <div id="form1Container" class="formContainer">

              <div id="txts">
                <div class="input-container">
                  <label for="name" >Name</label>
                  <input type="text" id="name" name="name" class="floating-input" onkeypress="return((event.charCode>=65 && event.charCode<=90) || (event.charCode>=97 && event.charCode<=122) || event.charCode==32) && event.code!=='Space'" />
                </div>
              
                <div class="input-container">
                  <label for="age" >Age</label>
                  <input type="text" id="age" name="age" class="floating-input" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                </div>

                <div id="ht-wt">
                  <div class="input-container">
                    <label for="weight">Weight</label>
                    <input type="text" id="weight" name="weight" class="floating-input" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                    <span class="tooltip">Weight in <b>kg</b></span>
                  </div>
      
                  <div class="input-container">
                    <label for="height">Height</label>
                    <input type="text" id="height" name="height" class="floating-input" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                    <span class="tooltip">Height in <b>cm</b></span>
                  </div>   
                </div>

                <div class="input-container-radio">
                  <label for="gender">Gender:
                    <input type="radio" id="male" name="gender" value="male" />
                    <label for="male" class="gend">Male</label>
                    <input type="radio" id="female" name="gender" value="female" />
                    <label for="female" class="gend">Female</label>
                  </label>
                </div>

                <div class="input-container-radio" >
                  <label for="alcohol"  id="alcohol" style="display: none;">Do you drink alcohol? 
                    <input type="radio" id="yes" name="alcohol" value="['N']"  />
                    <label for="yes">yes</label>
                    <input type="radio" id="no" name="alcohol" value="['X','N']" />
                    <label for="no">no</label>
                  </label>
                </div>
  
                <div class="input-container-radio">
                  <label for="cigar"  id="cigar" style="display: none;">Do you smoke cigarattes?
                    <input type="radio" id="yes" name="cigar" value="Yes"  />
                    <label for="yes">yes</label>
                    <input type="radio" id="no" name="cigar" value="No" />
                    <label for="no">no</label>
                  </label>
                </div>

                <div class="input-container-radio">
                  <label for="pregyesno" id="pregyesno" style="display: none;">Are you currently pregnant?
                    <input type="radio" id="yes" name="pregyesno" value="Yes" />
                    <label for="yes">yes</label>
                    <input type="radio" id="no" name="pregyesno" value="No" />
                    <label for="no">no</label>
                  </label>
                </div>
  
                <div class="input-container-radio">
                  <label for="trisemister" id="trisemister" style="display: none;">Which trimester are you in? 
                    <input type="radio" id="one" name="trisemister" value="['A','B','C','D']"  />
                    <label for="one">1</label>
                    <input type="radio" id="two" name="trisemister" value=" ['A','B','C']" />
                    <label for="no">2</label>
                    <input type="radio" id="three" name="trisemister" value=" ['A','B','C']" />
                    <label for="no">3</label>
                  </label>
                </div>
                
              </div>
            

            </div>
    
            <div id="form2Container" class="formContainer">

              <div id="note"><span style="color:red;">*</span> select atleast 3 symptoms for better results</div>
              <div class="dropdown">
                <div class="dropdown-select"></div>
                <input type="text" placeholder="Search Symptoms" id="search-input">
                <div class="dropdown-content" id="dropdown-content" style="font: .8em verdana;">
                  
                  <button type="button" value="itching" class="selectedButton">Itching</button>
                  <button type="button" value="continuous_sneezing" class="selectedButton">Continuous Sneezing</button>
                  <button type="button" value="high_fever" class="selectedButton">High Fever</button>
                  <button type="button" value="chills" class="selectedButton">Chills</button>
                  <button type="button" value="watering_from_eyes" class="selectedButton">Watering from Eyes</button>
                  <button type="button" value="stomach_pain" class="selectedButton">Stomach Pain</button>
                  <button type="button" value="acidity" class="selectedButton">Acidity</button>
                  <button type="button" value="nodal_skin_eruptions" class="selectedButton">Nodal Skin Eruptions</button>
                  <button type="button" value="dischromic_patches" class="selectedButton">Dischromic Patches</button>
                  <button type="button" value="ulcers_on_tongue" class="selectedButton">Ulcers on Tongue</button>
                  <button type="button" value="vomiting" class="selectedButton">Vomiting</button>
                  <button type="button" value="cough" class="selectedButton">Cough</button>
                  <button type="button" value="chest_pain" class="selectedButton">Chest Pain</button>
                  <button type="button" value="skin_rash" class="selectedButton">Skin Rash</button>
                  <button type="button" value="yellowish_skin" class="selectedButton">Yellowish Skin</button>
                  <button type="button" value="nausea" class="selectedButton">Nausea</button>
                  <button type="button" value="loss_of_appetite" class="selectedButton">Loss of Appetite</button>
                  <button type="button" value="abdominal_pain" class="selectedButton">Abdominal Pain</button>
                  <button type="button" value="yellowing_of_eyes" class="selectedButton">Yellowing of Eyes</button>
                  <button type="button" value="burning_micturition" class="selectedButton">Burning Micturition</button>
                  <button type="button" value="spotting_urination" class="selectedButton">Spotting Urination</button>
                  <button type="button" value="passage_of_gases" class="selectedButton">Passage of Gases</button>
                  <button type="button" value="internal_itching" class="selectedButton">Internal Itching</button>
                  <button type="button" value="indigestion" class="selectedButton">Indigestion</button>
                  <button type="button" value="muscle_wasting" class="selectedButton">Muscle Wasting</button>
                  <button type="button" value="patches_in_throat" class="selectedButton">Patches in Throat</button>

                  <button type="button" value="shivering" class="selectedButton">Shivering</button>
                  <button type="button" value="extra_marital_contacts" class="selectedButton">Extra Marital Contacts</button>
                  <button type="button" value="fatigue" class="selectedButton">Fatigue</button>
                  <button type="button" value="weight_loss" class="selectedButton">Weight Loss</button>
                  <button type="button" value="restlessness" class="selectedButton">Restlessness</button>
                  <button type="button" value="lethargy" class="selectedButton">Lethargy</button>
                  <button type="button" value="irregular_sugar_level" class="selectedButton">Irregular Sugar Level</button>
                  <button type="button" value="blurred_and_distorted_vision" class="selectedButton">Blurred and Distorted Vision</button>
                  <button type="button" value="obesity" class="selectedButton" id="obesity">Obesity</button>
                  <button type="button" value="excessive_hunger" class="selectedButton">Excessive Hunger</button>
                  <button type="button" value="increased_appetite" class="selectedButton">Increased Appetite</button>
                  <button type="button" value="polyuria" class="selectedButton">Polyuria</button>
                  <button type="button" value="sunken_eyes" class="selectedButton">Sunken Eyes</button>
                  <button type="button" value="dehydration" class="selectedButton">Dehydration</button>
                  <button type="button" value="diarrhoea" class="selectedButton">Diarrhoea</button>
                  <button type="button" value="breathlessness" class="selectedButton">Breathlessness</button>
        
                  <button type="button" value="mucoid_sputum" class="selectedButton">Mucoid Sputum</button>
                  <button type="button" value="headache" class="selectedButton">Headache</button>
                  <button type="button" value="dizziness" class="selectedButton">Dizziness</button>
                  <button type="button" value="loss_of_balance" class="selectedButton">Loss of Balance</button>
                  <button type="button" value="lack_of_concentration" class="selectedButton">Lack of Concentration</button>
                  <button type="button" value="stiff_neck" class="selectedButton">Stiff Neck</button>
                  <button type="button" value="depression" class="selectedButton">Depression</button>
                  <button type="button" value="irritability" class="selectedButton">Irritability</button>
                  <button type="button" value="visual_disturbances" class="selectedButton">Visual Disturbances</button>
                  <button type="button" value="back_pain" class="selectedButton">Back Pain</button>
                  <button type="button" value="weakness_in_limbs" class="selectedButton">Weakness in Limbs</button>
                  <button type="button" value="neck_pain" class="selectedButton">Neck Pain</button>
                  <button type="button" value="weakness_of_one_body_side" class="selectedButton">Weakness of One Body Side</button>
                  <button type="button" value="altered_sensorium" class="selectedButton">Altered Sensorium</button>
                  <button type="button" value="dark_urine" class="selectedButton">Dark Urine</button>
                  <button type="button" value="sweating" class="selectedButton">Sweating</button>
                  <button type="button" value="muscle_pain" class="selectedButton">Muscle Pain</button>
                  <button type="button" value="mild_fever" class="selectedButton">Mild Fever</button>
                  <button type="button" value="swelled_lymph_nodes" class="selectedButton">Swelled Lymph Nodes</button>
                  <button type="button" value="malaise" class="selectedButton">Malaise</button>
                  <button type="button" value="red_spots_over_body" class="selectedButton">Red Spots over Body</button>
                  <button type="button" value="joint_pain" class="selectedButton">Joint Pain</button>
                  <button type="button" value="pain_behind_the_eyes" class="selectedButton">Pain Behind the Eyes</button>
                  <button type="button" value="constipation" class="selectedButton">Constipation</button>
                  <button type="button" value="toxic_look_typhos" class="selectedButton">Toxic Look (Typhos)</button>
                  <button type="button" value="belly_pain" class="selectedButton">Belly Pain</button>
                  <button type="button" value="yellow_urine" class="selectedButton">Yellow Urine</button>
                  <button type="button" value="receiving_blood_transfusion" class="selectedButton">Receiving Blood Transfusion</button>
                  <button type="button" value="receiving_unsterile_injections" class="selectedButton">Receiving Unsterile Injections</button>
                  <button type="button" value="coma" class="selectedButton">Coma</button>
                  <button type="button" value="stomach_bleeding" class="selectedButton">Stomach Bleeding</button>
                  <button type="button" value="acute_liver_failure" class="selectedButton">Acute Liver Failure</button>
                  <button type="button" value="swelling_of_stomach" class="selectedButton">Swelling of Stomach</button>
                  <button type="button" value="distention_of_abdomen" class="selectedButton">Distention of Abdomen</button>
                  <button type="button" value="history_of_alcohol_consumption" class="selectedButton">History of Alcohol Consumption</button>
                  <button type="button" value="fluid_overload" class="selectedButton">Fluid Overload</button>
                  <button type="button" value="phlegm" class="selectedButton">Phlegm</button>
                  <button type="button" value="blood_in_sputum" class="selectedButton">Blood in Sputum</button>
                  <button type="button" value="throat_irritation" class="selectedButton">Throat Irritation</button>
                  <button type="button" value="redness_of_eyes" class="selectedButton">Redness of Eyes</button>
                  <button type="button" value="sinus_pressure" class="selectedButton">Sinus Pressure</button>
                  <button type="button" value="runny_nose" class="selectedButton">Runny Nose</button>
                  <button type="button" value="congestion" class="selectedButton">Congestion</button>
                  <button type="button" value="loss_of_smell" class="selectedButton">Loss of Smell</button>
                  <button type="button" value="fast_heart_rate" class="selectedButton">Fast Heart Rate</button>
                  <button type="button" value="rusty_sputum" class="selectedButton">Rusty Sputum</button>
                  <button type="button" value="pain_during_bowel_movements" class="selectedButton">Pain During Bowel Movements</button>
                  <button type="button" value="pain_in_anal_region" class="selectedButton">Pain in Anal Region</button>
                  <button type="button" value="bloody_stool" class="selectedButton">Bloody Stool</button>
                  <button type="button" value="irritation_in_anus" class="selectedButton">Irritation in Anus</button>
                  <button type="button" value="cramps" class="selectedButton">Cramps</button>
                  <button type="button" value="bruising" class="selectedButton">Bruising</button>
                  <button type="button" value="swollen_legs" class="selectedButton">Swollen Legs</button>
                  <button type="button" value="swollen_blood_vessels" class="selectedButton">Swollen Blood Vessels</button>
                  <button type="button" value="prominent_veins_on_calf" class="selectedButton">Prominent Veins on Calf</button>
                  <button type="button" value="weight_gain" class="selectedButton">Weight Gain</button>
                  <button type="button" value="cold_hands_and_feets" class="selectedButton">Cold Hands and Feets</button>
                  <button type="button" value="mood_swings" class="selectedButton">Mood Swings</button>
                  <button type="button" value="puffy_face_and_eyes" class="selectedButton">Puffy Face and Eyes</button>
                  <button type="button" value="enlarged_thyroid" class="selectedButton">Enlarged Thyroid</button>
                  <button type="button" value="brittle_nails" class="selectedButton">Brittle Nails</button>
                  <button type="button" value="swollen_extremeties" class="selectedButton">Swollen Extremities</button>
                  <button type="button" value="abnormal_menstruation" class="selectedButton">Abnormal Menstruation</button>
                  <button type="button" value="muscle_weakness" class="selectedButton">Muscle Weakness</button>
                  <button type="button" value="anxiety" class="selectedButton">Anxiety</button>
                  <button type="button" value="slurred_speech" class="selectedButton">Slurred Speech</button>
                  <button type="button" value="palpitations" class="selectedButton">Palpitations</button>
                  <button type="button" value="drying_and_tingling_lips" class="selectedButton">Drying and Tingling Lips</button>
                  <button type="button" value="knee_pain" class="selectedButton">Knee Pain</button>
                  <button type="button" value="hip_joint_pain" class="selectedButton">Hip Joint Pain</button>
                  <button type="button" value="swelling_joints" class="selectedButton">Swelling Joints</button>
                  <button type="button" value="painful_walking" class="selectedButton">Painful Walking</button>
                  <button type="button" value="movement_stiffness" class="selectedButton">Movement Stiffness</button>
                  <button type="button" value="spinning_movements" class="selectedButton">Spinning Movements</button>
                  <button type="button" value="unsteadiness" class="selectedButton">Unsteadiness</button>
                  <button type="button" value="pus_filled_pimples" class="selectedButton">Pus Filled Pimples</button>
                  <button type="button" value="blackheads" class="selectedButton">Blackheads</button>
                  <button type="button" value="scurring" class="selectedButton">Scurring</button>
                  <button type="button" value="bladder_discomfort" class="selectedButton">Bladder Discomfort</button>
                  <button type="button" value="foul_smell_of_urine" class="selectedButton">Foul Smell of Urine</button>
                  <button type="button" value="continuous_feel_of_urine" class="selectedButton">Continuous Feel of Urine</button>
                  <button type="button" value="skin_peeling" class="selectedButton">Skin Peeling</button>
                  <button type="button" value="silver_like_dusting" class="selectedButton">Silver Like Dusting</button>
                  <button type="button" value="small_dents_in_nails" class="selectedButton">Small Dents in Nails</button>
                  <button type="button" value="inflammatory_nails" class="selectedButton">Inflammatory Nails</button>
                  <button type="button" value="blister" class="selectedButton">Blister</button>
                  <button type="button" value="red_sore_around_nose" class="selectedButton">Red Sore around Nose</button>
                  <button type="button" value="yellow_crust_ooze" class="selectedButton">Yellow Crust Ooze</button>

            
                </div>
              </div>
            
            </div>

            <div id="form3Container" class="formContainer">
              
              <div id="results" style="width:fit-content;height:fit-content;"></div>
              <button type="submit" class="button" id="predict" name="predict" value="predict" onclick="sendSymptoms()">Predict</button>
      
            </div>
    
            <div id="form4Container" class="formContainer">

              <div id="output" style="width:fit-content;height:fit-content"></div>

          
            
              <div id="buttonContainer"></div>
              <div id="medications-container"></div>
              <div id="loadingOverlay">
                <div class="spinner"></div>
              </div>
              <button type="submit" class="button" id="medic" name="medic" value="medic" >getmedic</button>
            </div>

          </form>
        </div>

      </div>
 
      <div class="lower-section" id="downbottons">
  
          <button type="button" id="backbtn" class="btn" onclick="prevForm()" disabled>Back</button>
          <button type="button" id="t-c-submit" class="btn" onclick="nextForm()" disabled>Next</button>

      </div>
      
    </div>


    <div class="round-div"><img src="/static/images/location.png" style="position:relative;right:-10px;bottom:-10px;height: 30px;"></div>

    
    <div id="locate-hospital" class="rectangle-form">
      <button class="close-button">X</button>
      
      <div id="locate-head">Locate Nearby Hospital</div>

      <form id="locate" name="locate" value="locate">
        <div id="live-write">

          <div>
            <label>
            <input type="radio" name="locationOption" value="liveLocation" id="liveLocation">
            Allow Live Location
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="locationOption" value="writtenLocation" id="writtenLocation">
              Write Your Location
            </label>
            
          </div>
          
        </div>

        <div >
          <input type="text" id="locationInput" name="locationInput" placeholder="Enter your location" disabled>
        </div>
        
        
        <div id="hos-range">
          <div>How many nearest hospitals do you want?</div>
          <div class="range-slider-container">
            <input type="range" id="hospitalRange" name="hospitalRange" min="1" max="10" value="4">
            
          </div>
          <div><span id="hospitalValue">3</span></div>
          
        </div>

        
        <input type="submit" value="locate" id="locatesubmit">

        <div id="ans"></div>

        <div id="map" style="display:none;"></div>

      </form>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css" />

  <script>
    const liveLocationRadio = document.getElementById('liveLocation');
    const writtenLocationRadio = document.getElementById('writtenLocation');
    const locationInput = document.getElementById('locationInput');

    liveLocationRadio.addEventListener('change', () => {
      locationInput.disabled = true;
    });

    writtenLocationRadio.addEventListener('change', () => {
      locationInput.disabled = false;
    });

    const hospitalRange = document.getElementById('hospitalRange');
    const hospitalValue = document.getElementById('hospitalValue');

    hospitalRange.addEventListener('input', () => {
      hospitalValue.textContent = hospitalRange.value;
    });
  </script>




  <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
